[Unit]
Description=Run auto_push.service every day at 10 minutes past each hour

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true

[Install]
WantedBy=multi-user.target